<script type="text/html" id="slideOutMenuItemTemplate">
    <div data-bind="visible: visible, css: { 'dx-state-disabled': disabled }" data-options="dxTemplate : { name: 'item' } " >
        <div>
            <!-- ko if: icon -->
            <span  data-bind="attr:{ 'class': 'dx-icon dx-icon-' + icon }"></span>
            <!-- /ko -->
            <!-- ko if: iconSrc -->
            <img class="dx-icon" data-bind="attr: { src: iconSrc}" />
            <!-- /ko -->
            <div class="dx-navigation-item" data-bind="text: title"></div>
        </div>
    </div>
</script>

<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'slideout', platform: 'ios' } " >
    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header dx-toolbar">
            <div class="layout-toolbar" data-bind="dxToolbar: { items: [ { align: 'left', template: 'nav-button' }, { align: 'center', text: title } ] }" 
                 data-options="dxCommandContainer : { id: 'ios-header-toolbar' }">
                <div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
            </div>
        </div>

        <div class="layout-content dx-ios-stripes" data-options="dxContentPlaceholder : { name: 'content' } " >
            <div class="dx-loadindicator-container">
                <div data-bind="dxLoadIndicator: { }"></div>
            </div>
        </div>
    </div>

    <div class="view-footer" data-options="dxContent : { targetPlaceholder: 'view-footer' } " >
        <div class="view-toolbar-bottom" data-options="dxToolbar: { visible: true }, dxCommandContainer : { id: 'ios-view-footer' } " ></div>
    </div>
</div>

<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'slideout', platform: 'android' } " >
    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header dx-toolbar">
            <div class="layout-toolbar" data-bind="dxToolbar: { items: [ { align: 'left', template: 'nav-button' }, { align: 'center', text: title } ] }"
                 data-options="dxCommandContainer : { id: 'android-header-toolbar' }">
                <div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
            </div>
        </div>

        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' } " >
            <div class="dx-loadindicator-container">
                <div data-bind="dxLoadIndicator: {}"></div>
            </div>
        </div>
    </div>
</div>

<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'slideout', platform: 'tizen' } " >
    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header dx-toolbar">
            <div class="layout-toolbar" data-bind="dxToolbar: { items: [ { align: 'left', template: 'nav-button' }, { align: 'center', text: title } ] }"
                 data-options="dxCommandContainer : { id: 'tizen-header-toolbar' }">
                <div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
            </div>
        </div>

        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' } " >
            <div class="dx-loadindicator-container">
                <div data-bind="dxLoadIndicator: {}"></div>
            </div>
        </div>
    </div>
</div>

<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'slideout', platform: 'generic' } " >
    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header dx-toolbar">
            <div class="layout-toolbar" data-bind="dxToolbar: { items: [{ align: 'left', template: 'nav-button' }, { align: 'center', text: title }] }" 
                 data-options="dxCommandContainer : { id: 'generic-header-toolbar' }">
                <div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
            </div>
        </div>

        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' } " >
            <div class="dx-loadindicator-container">
                <div data-bind="dxLoadIndicator: {}"></div>
            </div>
        </div>
    </div>

    <div class="view-footer" data-options="dxContent : { targetPlaceholder: 'view-footer' } " >
        <div class="view-toolbar-bottom" data-options="dxToolbar: { visible: true }, dxCommandContainer : { id: 'generic-view-footer' } " >
        </div>
        </div>
</div>

<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'slideout', platform: 'win8', phone: true } " >
    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header">
            <div class="layout-toolbar" data-bind="dxToolbar: { items: [ { align: 'left', template: 'nav-button' }, { align: 'center', text: title } ] }">
                <div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
            </div>
        </div>

        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' } " >  
            <div class="dx-loadindicator-container">
                <div data-bind="dxLoadIndicator: {}"></div>
            </div>
        </div>

        <div class="layout-toolbar-bottom" data-options="dxToolbar: { dataSource: [], visible: false, renderAs: 'bottomToolbar' }, dxCommandContainer : { id: 'win8-phone-appbar' } ">
        </div>
    </div>

</div>
﻿<div class="empty-layout" data-options="dxLayout : { name: 'empty' } " >
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content' }">
        <div class="dx-loadindicator-container">
            <div data-options="dxLoadIndicator: { visible: true }"></div>
        </div>
    </div>
</div>  
  <div data-options="dxLayout : { name: 'default' } " >
    <!-- <div data-options="dxCommandContainer: { id: 'header-toolbar' }"></div> -->
    <div class="layout-header">
        <div data-bind="dxToolbar: { items: [ { text: title, align: 'center' } ] }" 
            data-options="dxCommandContainer : { id: 'header-toolbar' }">
        </div>
    </div>
    <div data-options="dxContentPlaceholder  : { name: 'content', transition: 'slide' } "></div>
  </div>    
  <div data-options="dxView : { name: 'home' } " >
    <div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/Home' } "></div>
    <div class="center" data-options="dxContent : { targetPlaceholder: 'content'}">
      <div><b class="basket-header">BAsket</b></div>
      <span data-bind='{text: '@bAsket'}'></span>

      <div id='idMainTileView' class="tileView" data-bind="dxTileView: {
          dataSource: BAsket.navigation, 
          itemMargin: 5, baseItemHeight: 25, baseItemWidth: 25, height: '400', 
          itemClickAction: P.itemClick
        }">
        <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="style: {background: backcolor}" >
            <span class="center" data-bind="attr: { 'class': P.itemIcon(icon) }"></span>
            <p class="tiletext">
                <span data-bind="text: title"></span>
                <span class="fl-right" data-bind="text: P.itemCount[id]"></span>
            </p>
        </div>
      </div>

      <div class="copyright">
          <p><span data-bind="text: P.copyright"></span></p>
<!--           <p>BAsket &copy; 2014 BAndy soft. All rights reserved (<span data-bind="text: P.deviceClass"></span>; ver. 1.0.0)</p>
 -->         <!--  <p>BAsket is an application to help people make the yoga exercises individually</p> -->
      </div>
    </div>
  </div>
  
<div data-options="dxView : { name: 'Order', layout: 'empty' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
            { location: 'left', widget: 'button', options: { type: 'back', clickAction: Order_clickBack}},
            { location: 'center', text: _.Order.Title},
            { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Order' }},          
            { location: 'right', widget: 'button', options: { icon: 'product', text: _.Order.Products, clickAction: Order_clickProduct}},
        ]}"></div>

        <div id="scrollViewContainer" data-bind="dxScrollView: { }">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Date" />
                <div id="idDate" class="dx-field-value" data-bind="dxDateBox: { format: 'date', value: dataVal }"/>
            </div>
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Client" />
	            <div id="lookupClient" class="dx-field-value" data-bind="dxLookup: { 
                    title: _.Order.SelectClient, 
                    dataSource: clients, 
                    displayExpr: 'N', 
                    valueExpr: 'Id', 
                    value: cliId, 
                    placeholder: cliName, 
                    searchEnabled: true, 
                    fullScreen: true,
                    valueChangeAction: Order_clientChanged}"/>
            </div>
            <!-- <div class="dx-button" data-bind="text: 'arrayTP.length = ' + arrayTP.length + ' ; showTP='+ showTP()"></div> -->
            <div class="dx-field" data-bind="visible: showTP()">
                <div class="dx-field-label" data-bind="text: _.Order.Point" />
                <div id="lookupTP" class="dx-field-value" data-bind="dxLookup: { 
                    title: _.Order.SelectPoint, 
                    dataSource: arrayTP, 
                    displayExpr: 'N', 
                    valueExpr: 'Id',
                    value: tpId, 
                    placeholder: tpName,
                    searchEnabled: false }"/>
            </div>
        </div>
        <div class="dx-fieldset">
            <div class="dx-field" data-bind="visible: false">
                <div class="dx-field-label"></div>
                <div id="idNms1" class="dx-field-value" data-bind="dxSelectBox: {dataSource: P.arrNMS[1], displayExpr: 'N', valueExpr: 'Id', placeholder: nmsNames()[0] }" /> 
            </div>
            <div class="dx-field" data-bind="visible: false">
                <div class="dx-field-label"></div>
                <div id="idNms2" class="dx-field-value" data-bind="dxSelectBox: {dataSource: P.arrNMS[2], displayExpr: 'N', valueExpr: 'Id', placeholder: nmsNames()[1] }" />
            </div>
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Note" />
                <div id="txtNote" class="dx-field-value" data-bind="dxTextArea: { placeholder: _.Order.NotePrompt, value: noteVal }"/>
            </div>            
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: calcSum"/>
            </div>

        </div>

        <div class="dx-button" data-bind="dxButton: {icon: 'tips', visible: swValue || !P.useWebDb, clickAction: function(){BAsket.notify(_.Common.ServerOper)} }"></div>
		<div class="dx-button but50 fl-right" data-bind="dxButton:{text: _.Common.Save, clickAction: Order_btnSaveClicked}"/></div>
		
    </div>
</div>

<div data-options="dxView : { name: 'OrderList', title: _.Navigation.OrderList } " >
    <div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/OrderList' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        
        <div class="dx-fieldset" >
            <div class="dx-field">
                <div class="dx-field-label margintop" data-bind="dxTextBox: { mode: 'search',  
                    value: searchString, visible: true, placeholder: _.Common.Search,
                    valueUpdateEvent: 'search change keyup' }">
                </div>
                <div class="dx-field-value" data-bind="dxButton:{text: swTitle, visible: P.useWebDb, clickAction: Order_SwitchSource, width:'30%'}" ></div>
                <div class="dx-button" data-bind="dxButton: {icon: 'tips', visible: !P.useWebDb || swValue, clickAction: function(){BAsket.notify(_.Common.ServerOper)} }"></div>
            </div>
        </div>
		
		<div id="idOrderList" class="offset-list" data-bind="dxList: { visible: !swValue(),
            dataSource: dataSource, 
            itemHoldAction: Order_processItemHold, 
            itemHoldTimeout: holdTimeout, 
            pullRefreshEnabled: true 
            }">
            <div id="idOrderListTemplate" data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Order/{Id}'">
                
                <div data-bind="attr: { 'class': 'orderItem-' + $data.bSusp }">
                <div>
                    <span class='textSmall' data-bind="text: $data.Id"/> - 
                    <span class='textSmall' data-bind="text: $data.ShortDate"/> 
                    <span data-bind="text: $data.Name"/>
                    <span class='textSmall' data-bind="text: ($data.Adres)"/>
                </div>
                <div class='marginleft'>
                    <span data-bind="text: $data.SumDoc"/>
                    <span class='textSmall' data-bind="text: $data.Note"/>
                    (<span class='textSmall' data-bind="text: $data.Wars"/>) 
                    <span class='textSmall' data-bind="text: $data.sServRet"/> 
                </div></div>
            </div>
        </div>

        <div id="idOrderListS" class="offset-list" data-bind="dxList: { visible: swValue(),
            dataSource: dataSourceS, 
            itemHoldAction: Order_processItemHold, 
            itemHoldTimeout: holdTimeout,  
            pullRefreshEnabled: true 
            }">
            <div id="idOrderListTemplate" data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Order/{Id}?s=true'">
                
                <div data-bind="attr: { 'class': 'orderItem-' + $data.bSusp }">
                <div>
                    <span class='textSmall' data-bind="text: $data.NumDoc"/> - 
                    <span class='textSmall' data-bind="text: $data.ShortDate"/> 
                    <span data-bind="text: $data.Name"/>
                    <span class='textSmall' data-bind="text: ($data.Adres)"/>
                </div>
                <div class='marginleft'>
                    <span data-bind="text: $data.SumDoc"/>
                    <span class='textSmall' data-bind="text: $data.Note"/>
                    (<span class='textSmall' data-bind="text: $data.Wars"/>) 
                    <span class='textSmall' data-bind="text: $data.sServRet"/> 
                </div></div>
            </div>
        </div>

        <div id="actionSheetContainer" data-bind="dxActionSheet: { dataSource: popActions, visible: popVisible }"/>

<!--     <div data-bind="dxPopover: { width: 200, height: 'auto', visible: popVisible }">
        <div data-bind="dxList: { items: popActions, itemClickAction: Order_processClick }" />
    </div> -->
<!--     <div data-bind="dxDropDownMenu: { buttonText: 'Show menu', items: popActions, itemClickAction: Order_processClick }"></div> -->

    </div>
</div>


<div data-options="dxView : { name: 'Clients', title: _.Navigation.Clients } " >
    <div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/Clients' } "></div>
    <div class="home-view"  data-options="dxContent: { targetPlaceholder: 'content' } " >
        <div class="dx-fieldset" >
            <div class="dx-field">
                <div class="dx-field-label" data-bind="dxTextBox: { mode: 'search', 
                    value: searchString, visible: true, placeholder: _.Common.Search,
                    valueUpdateEvent: 'search change keyup' }"></div>               
            </div>
        </div>

        <div class="offset-list" data-bind="dxList: { 
                dataSource: dataSource,  scrollingEnabled: true,
                itemHoldAction: Client_processItemHold, 
                itemHoldTimeout: holdTimeout, 
                pullRefreshEnabled: true,
            }">

            <div data-options="dxTemplate : { name: 'item' }"  data-bind="dxAction: '#Client/{Id}'"> 
                <div data-bind="text: $data.N"></div>
                <div class='textSmall marginleft'><span data-bind="text: $data.A"/>
                    (<span data-bind="text: $data.GeoLoc"/> 
                     Id=<strong data-bind="text: $data.Id"/>)
                </div>
            </div>
        </div>

        <div id="actionSheetContainer" data-bind="dxActionSheet: { dataSource: popActions, visible: popVisible }"/>

    </div>
</div>

<div data-options="dxView : { name: 'Client', layout: 'empty' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { type: 'back', clickAction: '#_back'}},
          { location: 'center', text: _.Clients.Title},
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Client' }},
          { location: 'right', widget: 'button', options: { icon: 'menu', clickAction: Client_ClickMenu}},
        ]}"></div>

        <div class="dx-fieldset">
            <div class="dx-field">
                <div data-bind="text: cliName()" />
			</div>
		</div>
       

        <div id="idClientMap" data-bind="dxMap: options"/>


        <div data-bind="dxLoadPanel:{message: _.Common.Loading, visible: P.loadPanelVisible }"></div>

        <div data-bind="dxPopover: { width: 250, height: 'auto', visible: visibleMenu, target: '.dx-icon-menu'}">
            <div data-bind="dxList: { items: menuItems, itemClickAction: Client_ClickMenuAction }"></div>
        </div>

        <div data-bind="dxPopup:{visible:popupVisible}">
            <div data-options="dxTemplate:{name: 'title'}">               
               <div data-bind="dxToolbar: { items: [
                  {  align: 'left', widget: 'button', options: { icon: 'close', clickAction: Client_clickCancel}},
                  {  align: 'center', text: _.Clients.RoutDetail},          
                ]}"></div>
            </div>

            <div class="h100" data-options="dxTemplate:{name: 'content'}">
                <div id="scrollView" data-bind="dxScrollView: {}">
                    <div id="textContainer"/>
                </div><br/>
            </div>
        </div>        
    </div>
</div>

<div data-options="dxView : { name: 'RoadMapList', title: _.Navigation.RoadMapList } " >
    <div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/RoadMapList' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

        <div class="dx-fieldset">
            <div class="dx-field" >
                <div id="idDate" class="dx-field-label" data-bind="dxDateBox: { format: 'date', value: dataVal, valueUpdateAction: RoadMap_ChangeDate }"></div>

                <div class="but20" data-bind="dxButton:{text:_.RoadMap.AddToTheMap, clickAction: RoadMap_AddToTheMap}"></div>
                <div class="but20" data-bind="dxButton:{text:_.RoadMap.ShowOnTheMap, clickAction: RoadMap_ClickShow}
                "></div>
                <div data-bind="dxButton: {icon: 'tips', visible: !P.useWebDb, clickAction: function(){BAsket.notify(_.Common.ServerOper)} }"></div>
            </div>
        </div>
		<div class="offset-list" data-bind="dxList: { 
            dataSource: dataSource, 
            itemHoldAction: RoadMap_processItemHold, 
            itemHoldTimeout: holdTimeout,
            pullRefreshEnabled: true 
            }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: RoadMap_ClickClient">
                <div>
                    <span class='textSmall' data-bind="text: $data.Npp"/>  
                    <span class='textSmall' data-bind="text: $data.IdB"/>
                    <span data-bind="text: ($data.Name)"/>
                </div>
                <div class='textSmall marginleft'><span data-bind="text: $data.Note"/>
                    (<span data-bind="text: $data.Adres"/>) 
                    (<span data-bind="text: $data.N3"/>) 
                </div>
           </div>
        </div>

        <div id="actionSheetContainer" data-bind="dxActionSheet: { dataSource: popActions, visible: popVisible }"/>  

        <div data-bind="dxPopup: { visible:popupVisible }">
            <div data-options="dxTemplate: {name: 'title'}">
               <div data-bind="dxToolbar: { items: [
                  {  align: 'left', widget: 'button', options: { icon: 'close', clickAction: RoadMap_clickCancel}},
                  {  align: 'center', text: _.RoadMap.AddToTheMap},          
                  {  align: 'right', widget: 'button', options: { icon: 'save', text: _.Common.Save, clickAction: RoadMap_ClientSave}},
                ]}"></div>
            </div>

            <div data-options="dxTemplate:{name: 'content'}">
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label" data-bind="text: _.Order.Client" />
                        <div id="lookupClient" class="dx-field-value" data-bind="dxLookup: { 
                            title: _.Order.SelectClient, 
                            dataSource: clients, 
                            displayExpr: 'N', 
                            valueExpr: 'Id', 
                            value: cliId, 
                            placeholder: cliName, 
                            searchEnabled: true, 
                            fullScreen: true,
                            valueChangeAction: RoadMap_clientChanged}"/>
                    </div>
                    <div class="dx-field" data-bind="visible: showTP()">
                        <div class="dx-field-label" data-bind="text: _.Order.Point" />
                        <div id="lookupTP" class="dx-field-value" data-bind="dxLookup: { 
                            title: _.Order.SelectPoint, 
                            dataSource: arrayTP, 
                            displayExpr: 'N', 
                            valueExpr: 'Id',
                            searchEnabled: false, 
                            placeholder: tpName }"/>
                    </div>
                </div>
            </div>
        </div>              
    </div>
</div>

<div data-options="dxView : { name: 'RoadMap', layout: 'empty' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { type: 'back', clickAction: '#_back'}},
          { location: 'center', text: _.RoadMap.Title},
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/RoadMap' }},          
        ]}"></div>

        <div data-bind="dxMap: options"></div>
        
        <div data-bind="dxLoadPanel:{message: _.Common.Loading, visible: P.loadPanelVisible }"/>
    </div>
</div>
<div data-options="dxView : { name: 'Preferences', title: _.Navigation.Preferences } " >
	<div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/Preferences' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div id="tabs" data-bind="dxTabs: { items: tabs, selectedIndex: selectedTab }"></div>
		<div id="tabContent" >
			 <!-- ko if: selectedTab() == 0 -->
				<div class="dx-fieldset">
	                <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.Layout"></div>
	                    <div id="lookupPlatform" class="dx-field-value" data-bind="dxLookup: {placeholder:name, dataSource: dsPlatform.data, value: dsPlatform.value, searchEnabled: false, valueChangeAction: Preferences_changePlatform}"></div>
					</div>
	                <!-- <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.MapProvider"></div>
	                    <div id="lookupMapProvider" class="dx-field-value"data-bind="dxLookup: {placeholder:name, dataSource: dsMapProvider.data, value: dsMapProvider.value, searchEnabled: false, valueChangeAction: Preferences_changeMapProvider}"></div>
					</div> -->
	                <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.Language"></div>
	                    <div id="lookupLanguageUI" class="dx-field-value"data-bind="dxLookup: {placeholder:name, dataSource: dsLanguage.data, value: dsLanguage.value, searchEnabled: false, valueChangeAction: Preferences_changeLanguageUI}"></div>
					</div>

 	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.TableMode "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: modeProdView,
	                        valueChangeAction: Preferences_TableMode}"></div>	                    
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UseWebDb "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: useWebDb,
	                        valueChangeAction: Preferences_useWebDb}"></div>	                    
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.DebugMode "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: debugMode,
	                        valueChangeAction: Preferences_debugMode}"></div>	                    
	                </div>

				</div>
            <!-- /ko -->
            <!-- ko if: selectedTab() == 1 -->
				<div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserName "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { value: userName, valueUpdateAction: Preferences_userName }"></div>
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserPassword "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { mode: 'password', value: userPass, valueUpdateAction: Preferences_userPass }"></div>
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserEMail "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { value: userEMail, valueUpdateAction: Preferences_userEMail }"></div>
	                </div>
				</div>
			<!-- /ko -->
            <!-- ko if: selectedTab() == 2 -->
	            <div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label">Admin Password</div>
	                    <div class="dx-field-value">
	                        <div data-bind="dxTextBox: { mode: 'password', placeholder: 'Password', value: adminPassword }"></div>
	                    </div>
	                </div>
                    <div class="dx-field">
		                <div class="dx-field-label">Web Service Url</div>
	                    <div class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: dsWsUrl,
							value: dataSouceUrl,
							valueChangeAction: Preferences_WsUrl
						}"></div> 
		            </div>
	            </div>
				<div class="but50 fl-right" data-bind="dxButton:{text:'Delete Local DataBase', clickAction: Preferences_clickRecreateLocal}"></div>
            <!-- /ko -->
		</div>
    
		<div data-bind="dxPopup:{visible:popupVisible}">
		    <div data-options="dxTemplate:{name: 'title'}">
		        <p><b data-bind="text: popupTitle"></b></p>
		    </div>
		    <div data-options="dxTemplate:{name: 'content'}">
	            <div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label">Password</div>
	                    <div class="dx-field-value">
	                        <div data-bind="dxTextBox: { mode: 'password', placeholder: 'Password', value: adminPassword }"></div>
	                    </div>
	                </div>
	            </div>
	            <div>
					<div class="but20" data-bind="dxButton:{text:'Login', clickAction: Preferences_clickLogin}"></div>
					<div class="but20 fl-right" data-bind="dxButton:{text:'Cancel', clickAction: Preferences_clickCancel}"></div>
				</div>
		    </div>
		</div>

	</div>
</div>



<div data-options="dxView : { name: 'Info' } " >
    <div class="home-view center"  data-options="dxContent : { targetPlaceholder: 'content' } " >
    	<div data-bind="visible: subTitle().length == 0">
	    	<!-- <div><b class="basket-header">BAsket</b></div> -->

			<div id='idInfoTileView' class="tileView" data-bind="dxTileView: {
		          dataSource: dsInfo, 
		          itemMargin: 5, baseItemHeight: 25, baseItemWidth: 25, height: '400', 
		          itemClickAction: P.itemClick
		        }">
		        <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="style: {background: backcolor}" >
		            <span class="center" data-bind="attr: { 'class': P.itemIcon(icon) }"></span>
		            <p class="tiletext">
		                <span data-bind="text: title"></span>
		                <span class="fl-right" data-bind="text: P.itemCount[id]"></span>
		            </p>
		        </div>
			</div>

			<div class="copyright">
		      <p><span data-bind="text: P.copyright"></span></p>
			</div>
		</div>
		<div class="h100" data-bind="visible: subTitle">
			<!-- <div data-bind="dxToolbar: { items: [{  align: 'center', text: subTitle}]}"></div> -->
			<div data-bind="dxScrollView: {}">
            	<div class="infotext" id="textContainer"></div>
            </div>
		</div>
    </div>
</div>

<div data-options="dxView : { name: 'ReadNews', title: _.Navigation.ReadNews } " >
	<div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/ReadNews' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

    <div class="center" data-bind="text: _.ReadNews.NoDataText, visible: !P.useWebDb"/>

	<div data-bind="dxScrollView: { }, visible: P.useWebDb">
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.SendOrd "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeSaveOrd, valueUpdateAction: ReadNews_SUA('modeSaveOrd') }"></div>
            </div>
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.LoadOst "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeLoadOst, valueUpdateAction: ReadNews_SUA('modeLoadOst') }"></div>
            </div>
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.LoadSpr "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeLoadSpr, valueUpdateAction: ReadNews_SUA('modeLoadSpr') }"></div>
            </div>
        </div>
        <div class="center">
			<div class="but50" data-bind="dxButton: { text: _.ReadNews.LoadData, clickAction: ReadNews_ReadNews }"></div>
		</div>
        <p id="consoleOut"></p>
<!-- 
		<br/><hr/><br/>
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.RepoName "></div>
	            <div id="lookupRepo" class="dx-field-value" data-bind="dxLookup: { 
                    title: _.ReadNews.SelectRepo, 
                    dataSource: arrayRepo, 
                    displayExpr: 'Name', 
                    valueExpr: 'Id', 
                    searchEnabled: false, 
                    placeholder: '@Select',
                    }"/>
            </div>
        </div> 
        <div class="center">
			<div class="but50" data-bind="dxButton: { text: _.ReadNews.SendRepo, clickAction: ReadNews_SendRepo }"></div>
		</div>-->

		<div data-bind="dxLoadPanel:{message: _.Common.Loading, visible: P.loadPanelVisible }"/>

    </div></div>
</div>﻿<div data-options="dxView : { name: 'Products', layout: 'empty'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { type: 'back', clickAction: Products_clickBack }},
          { location: 'center', text: lbltitle},
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Products' }},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />

<!--         <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { icon:'find' }},
          { location: 'left', widget: 'button', },
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: function () { P.Command_Info('Products') }}},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />
 -->    
        <div class="dx-fieldset" data-bind="visible: bChoice()">
            <div class="dx-field">
                <!-- <span data-bind="attr: { 'class': 'iconsmall dx-icon-find' }"/> -->
                <div class="dx-field-label margintop" data-bind="dxTextBox: { mode: 'search',  
                  value: searchString, visible: true, placeholder: _.Common.Search,
                  valueUpdateEvent: 'search change keyup' }">
                </div>
                <div id="CategoryLookup" class="dx-field-value dx-button" data-bind="dxLookup: { 
                    title: _.Products.TitleCat, 
                    dataSource: dataSourceCat, 
                    displayExpr: 'N', 
                    valueExpr: 'Id', 
                    value: P.curCategoryId, 
                    placeholder: P.curCategoryName,
                    searchEnabled: false, 
                    valueChangeAction: Products_categoryChanged,
                    width:'50%'}"></div>
            </div>
        </div>

<!--         <div class="dx-table" data-bind="visible: P.modeProdView || !bChoice()">
            <div class="cell70 dx-button tbhead" data-bind="text: _.Products.ColName"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPack"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColCount"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPrice"></div>
        </div> -->

         <div id="listProducts" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceProd, 
                pullRefreshEnabled: true
            }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>
<!--
          <div id="listProducts" data-bind="dxList: { dataSource: dataSourceProd }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div class="dx-table">
                    <div class="cell70" data-bind="text: $data.Name"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.Upak, 'n0')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong></div>
                </div>
            </div>
        </div>
 -->

        <div class="tileView" data-bind="dxTileView: {
                dataSource: dataSourceProd, 
                itemMargin: 3, baseItemHeight: 120, baseItemWidth: 160, 
                listHeight: '80%', 
                showScrollbar: true,
                activeStateEnabled: true,
            }, visible: bChoice() && !P.modeProdView">
            <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="dxAction: '#Product_Details/{Id}'">
                <img class="tile-image" data-bind="attr: { src: N4 }"/>
                <span class="tile-text" data-bind="text: N"></span>
                <span class="tile-text-top" data-bind="text: Quant"></span>
            </div>
        </div>

        <div class="dx-fieldset" data-bind="visible: !bChoice()">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: calcSum"/>
            </div>
        </div>
        
        <div id="listBAsket" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceBasket, 
                pullRefreshEnabled: true
            }, visible: !bChoice()">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>

    </div>
</div>



<div data-options="dxView : { name: 'Product_Details', layout: 'empty' } " >
  <div class="Product_Details" data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div data-bind="dxToolbar: { items: [
        { location: 'left', widget: 'button', options: { type: 'back', clickAction: '#_back'}},
        { location: 'center', text: _.Products.TitleDetails },
        { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Product-Details' }},
      ]}">
  </div>

  <div id="scrollViewContainer" data-bind="dxScrollView: { }">
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label" data-bind="text: _.Products.FldQuantity"/>
        <div class="dx-field-value">
          <div id="idQuant" class="cell20" data-bind="dxNumberBox: {
              min: 0,
              value: Quant,
              valueUpdateEvent: 'keyup',
              placeholder: _.Products.ErrQuantity                     
            }" />
          <div class="dx-button but30 fl-right" data-bind="dxButton:{text:_.Common.Save, clickAction: Product_Details_saveClicked}" />
        </div>
      </div>
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldName" />
          <div id="idName" class="dx-field-value" data-bind="text: Name" />
<!--      <div id="idName" class="dx-field-value" data-bind="dxTextBox: { placeholder: Name, disabled: true }"/> -->
      </div>
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldPrice" />
          <div class="dx-field-value" data-bind="text: Price" />
      </div>
      <div class="dx-field">
            <div class="dx-field-label" data-bind="text: _.Products.FldOstat" />
            <div class="dx-field-value" data-bind="text: Ostat" />
      </div>
    </div>
    <div class="dx-fieldset">
      <div class="dx-field" data-bind="visible: N1">
            <div class="dx-field-label" data-bind="text: N1T" />
            <div class="dx-field-value" data-bind="text: N1" />
      </div>
      <div class="dx-field" data-bind="visible: N2">
            <div class="dx-field-label" data-bind="text: N2T" />
            <div class="dx-field-value" data-bind="text: N2" />
      </div>
      <div class="dx-field" data-bind="visible: N3">
            <div class="dx-field-label" data-bind="text: N3T" />
            <div class="dx-field-value" data-bind="text: N3" />
      </div>
      <div class="dx-field" data-bind="visible: N4">
            <div class="dx-field-label" data-bind="text: N4T" />
            <div class="dx-field-value" data-bind="text: N4" />
      </div>
<!-- 
      <div class="dx-field">
            <div class="dx-field-label">Id: </div>
            <div class="dx-field-value" data-bind="text: Id"></div>
      </div> -->

    </div>

    <center>
      <div data-bind="visible: N4">
        <img class = "image" data-bind="attr: { src: N4 }" />
      </div>
    </center>
  </div>
</div>
