  
  <div data-options="dxLayout : { name: 'default' } " >
    <!-- <div data-options="dxCommandContainer: { id: 'header-toolbar' }"></div> -->
    <div class="layout-header">
        <div data-bind="dxToolbar: { items: [ { text: title, align: 'center' } ] }" 
            data-options="dxCommandContainer : { id: 'header-toolbar' }">
        </div>
    </div>
    <div data-options="dxContentPlaceholder  : { name: 'content', transition: 'slide' } "></div>
  </div>    
  <div data-options="dxView : { name: 'home' } " >
    <div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/Home' } "></div>
    <div class="center" data-options="dxContent : { targetPlaceholder: 'content'}">
      <div><b class="basket-header">BAsket</b></div>

      <div id='idMainTileView' class="tileView" data-bind="dxTileView: {
          dataSource: BAsket.navigation, 
          itemMargin: 5, baseItemHeight: 25, baseItemWidth: 25, height: '400', 
          itemClickAction: P.itemClick
        }">
        <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="style: {background: backcolor}" >
            <span class="center" data-bind="attr: { 'class': P.itemIcon(icon) }"></span>
            <p class="tiletext">
                <span data-bind="text: title"></span>
                <span class="fl-right" data-bind="text: P.itemCount[id]"></span>
            </p>
        </div>
      </div>

      <div class="copyright">
          <p><span data-bind="text: P.copyright"></span></p>
<!--           <p>BAsket &copy; 2014 BAndy soft. All rights reserved (<span data-bind="text: P.deviceClass"></span>; ver. 1.0.0)</p>
 -->         <!--  <p>BAsket is an application to help people make the yoga exercises individually</p> -->
      </div>
    </div>
  </div>
  
