<div data-options="dxView : { name: 'Products', layout: 'empty'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { type: 'back', text:  _.Common.Back, clickAction: Products_clickBack }},
          { location: 'center', text: lbltitle},
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Products' }},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />

<!--         <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { icon:'find' }},
          { location: 'left', widget: 'button', },
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: function () { P.Command_Info('Products') }}},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />
 -->    
        <div class="dx-fieldset" data-bind="visible: bChoice()">
            <div class="dx-field">
                <!-- <span data-bind="attr: { 'class': 'iconsmall dx-icon-find' }"/> -->
                <div class="dx-field-label margintop" data-bind="dxTextBox: { mode: 'search',  value: searchString, visible: true, 
		        	valueUpdateEvent: 'search change keyup' }"></div>
                <div id="CategoryLookup" class="dx-field-value dx-button" data-bind="dxLookup: { 
                    title: _.Products.TitleCat, 
                    dataSource: dataSourceCat, 
                    displayExpr: 'N', 
                    valueExpr: 'Id', 
                    value: P.curCategoryId, 
                    placeholder: P.curCategoryName,
                    searchEnabled: false, 
                    valueChangeAction: Products_categoryChanged,
                    width:'50%'}"></div>
            </div>
        </div>

<!--         <div class="dx-table" data-bind="visible: P.modeProdView || !bChoice()">
            <div class="cell70 dx-button tbhead" data-bind="text: _.Products.ColName"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPack"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColCount"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPrice"></div>
        </div> -->

         <div id="listProducts" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceProd, 
                noDataText: _.Common.NoDataText,
                pullRefreshEnabled: true
            }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>
<!--
          <div id="listProducts" data-bind="dxList: { dataSource: dataSourceProd, noDataText: _.Common.NoDataText }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div class="dx-table">
                    <div class="cell70" data-bind="text: $data.Name"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.Upak, 'n0')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong></div>
                </div>
            </div>
        </div>
 -->

        <div class="tileView" data-bind="dxTileView: {
                dataSource: dataSourceProd, 
                itemMargin: 3, baseItemHeight: 120, baseItemWidth: 160, 
                listHeight: '80%', 
                showScrollbar: true,
                activeStateEnabled: true,
                noDataText: _.Common.NoDataText
            }, visible: bChoice() && !P.modeProdView">
            <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="dxAction: '#Product_Details/{Id}'">
                <img class="tile-image" data-bind="attr: { src: N4 }"/>
                <span class="tile-text" data-bind="text: N"></span>
                <span class="tile-text-top" data-bind="text: Quant"></span>
            </div>
        </div>

        <div class="dx-fieldset" data-bind="visible: !bChoice()">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: calcSum"/>
            </div>
        </div>
        
        <div id="listBAsket" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceBasket, 
                noDataText: _.Common.NoDataText,
                pullRefreshEnabled: true
            }, visible: !bChoice()">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Product_Details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>

    </div>
</div>



<div data-options="dxView : { name: 'Product_Details', layout: 'empty' } " >
  <div class="Product_Details" data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div data-bind="dxToolbar: { items: [
        { location: 'left', widget: 'button', options: { type: 'back', text: _.Common.Back, clickAction: '#_back'}},
        { location: 'center', text: _.Products.TitleDetails },
        { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Product-Details' }},
      ]}">
  </div>

  <div id="scrollViewContainer" data-bind="dxScrollView: { }">
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label" data-bind="text: _.Products.FldQuantity"/>
        <div class="dx-field-value">
          <div id="idQuant" class="cell20" data-bind="dxNumberBox: {
              min: 0,
              value: Quant,
              valueUpdateEvent: 'keyup',
              placeholder: _.Products.ErrQuantity                     
            }" />
          <div class="dx-button but30 fl-right" data-bind="dxButton:{text:_.Common.Save, clickAction: Product_Details_saveClicked}" />
        </div>
      </div>
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldName" />
          <div id="idName" class="dx-field-value" data-bind="text: Name" />
<!--      <div id="idName" class="dx-field-value" data-bind="dxTextBox: { placeholder: Name, disabled: true }"/> -->
      </div>
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldPrice" />
          <div class="dx-field-value" data-bind="text: Price" />
      </div>
      <div class="dx-field">
            <div class="dx-field-label" data-bind="text: _.Products.FldOstat" />
            <div class="dx-field-value" data-bind="text: Ostat" />
      </div>
    </div>
    <div class="dx-fieldset">
      <div class="dx-field" data-bind="visible: N1">
            <div class="dx-field-label" data-bind="text: N1T" />
            <div class="dx-field-value" data-bind="text: N1" />
      </div>
      <div class="dx-field" data-bind="visible: N2">
            <div class="dx-field-label" data-bind="text: N2T" />
            <div class="dx-field-value" data-bind="text: N2" />
      </div>
      <div class="dx-field" data-bind="visible: N3">
            <div class="dx-field-label" data-bind="text: N3T" />
            <div class="dx-field-value" data-bind="text: N3" />
      </div>
      <div class="dx-field" data-bind="visible: N4">
            <div class="dx-field-label" data-bind="text: N4T" />
            <div class="dx-field-value" data-bind="text: N4" />
      </div>
<!-- 
      <div class="dx-field">
            <div class="dx-field-label">Id: </div>
            <div class="dx-field-value" data-bind="text: Id"></div>
      </div> -->

    </div>

    <center>
      <div data-bind="visible: N4">
        <img class = "image" data-bind="attr: { src: N4 }" />
      </div>
    </center>
  </div>
</div>
