<?xml version='1.0' encoding='utf-8'?>
<widget id="net.bandy18.basket" 
	version="0.0.2" 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>BAsket</name>
    <description>
        A BAsket for trading
    </description>
    <author email="bandy18ru@gmail.com" href="http://bandy18ru.net">
        BAndy18
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />

    <icon src="img/logo1.png" />
    <gap:splash src="img/logo1.png" />
</widget>
