<div data-options="dxView : { name: 'Order', layout: 'empty' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          {  align: 'left', widget: 'button', options: { type: 'back', text: _.Common.Back, clickAction: clickBack}},
          {  align: 'center', text: _.Order.Title},
          {  align: 'right', widget: 'button', options: { icon: 'product', text: _.Order.Products, clickAction: '#products/{id}'}},
        ]}"></div>

        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Date" />
                <div id="idDate" class="dx-field-value" data-bind="dxDateBox: { format: 'date', value: dataVal }"/>
            </div>
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Client" />
	            <div id="lookupClient" class="dx-field-value" data-bind="dxLookup: { title: _.Order.SelectClient, dataSource: clients, displayExpr: 'Name', valueExpr: 'id', searchEnabled: true, value: cliId, placeholder: cliName, valueChangeAction: clientChanged}"/>
            </div>
            <!-- <div class="dx-button" data-bind="text: 'arrayTP.length = ' + arrayTP.length + ' ; showTP='+ showTP()"></div> -->
            <div class="dx-field" data-bind="visible: showTP()">
                <div class="dx-field-label" data-bind="text: _.Order.Point" />
                <div id="lookupTP" class="dx-field-value" data-bind="dxLookup: { title: _.Order.SelectPoint, dataSource: arrayTP, displayExpr: 'Name', valueExpr: 'id',searchEnabled: true, placeholder: tpName }"/>
            </div>
        </div>
        <div class="dx-fieldset">
            <div class="dx-field">
                <div id="lookupNms" class="dx-field-label" data-bind="dxLookup: { title: _.Order.SelectDop, dataSource: dsNms,  displayExpr: 'Name', valueExpr: 'id', searchEnabled: false,  valueChangeAction: nmsChanged, placeholder: _.Common.Select + ' ...' }"/>

                <div id="lookupParam" class="dx-field-value" data-bind="dxLookup: { title: _.Order.SelectParam, dataSource: arrayNms, displayExpr: 'Name', valueExpr: 'id', searchEnabled: false, placeholder: _.Common.Select + ' ...'}"/>
            </div>
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.Order.Note" />
                <div id="txtNote" class="dx-field-value" data-bind="dxTextArea: { placeholder: _.Order.NotePrompt, value: noteVal }"/>
            </div>
        </div>

		<div class="dx-button but20 fl-right" data-bind="dxButton:{text: _.Common.Save, clickAction: btnSaveClicked}"/>
		
    </div>
</div>

<div data-options="dxView : { name: 'OrderList', title: _.Navigation.OrderList } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

		<div class="dx-table">
            <div class="cell10 dx-button" data-bind="text: _.Order.ColDate"></div>
            <div class="cell30 dx-button" data-bind="text: _.Order.ColName"></div>
            <div class="cell30 dx-button" data-bind="text: _.Order.ColTpName"></div>
            <div class="cell10 dx-button" data-bind="text: _.Order.ColNote"></div>
            <div class="cell10 dx-button" data-bind="text: _.Order.ColWars"></div>
        </div>
		<div data-bind="dxList: { dataSource: dataSource }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Order/{id}'">
                <div class="dx-table">
                    <div class="cell10" data-bind="text: $data.DateDoc"></div>
                    <div class="cell30" data-bind="text: $data.cName"></div>
                    <div class="cell30" data-bind="text: $data.tName"></div>
                    <div class="cell10" data-bind="text: $data.sNote"></div>
                    <div class="cell10" data-bind="text: $data.sWars"></div>
<!--                     <div class="cell10 alignright" data-bind="text: Globalize.format($data.upak, 'c2')"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.ostat, 'c2')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.price, 'n2')"></strong></div>
 -->                </div>
            </div>
        </div>
    </div>
</div>