<div data-options="dxView : { name: 'Preferences', title: _.Preferences.Title } " >
	<div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/Preferences' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div id="tabs" data-bind="dxTabs: { items: tabs, selectedIndex: selectedTab }"></div>
		<div id="tabContent" >
			 <!-- ko if: selectedTab() == 0 -->
				<div class="dx-fieldset">
	                <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.Layout"></div>
	                    <div id="lookupPlatform" class="dx-field-value" data-bind="dxLookup: {placeholder:name, dataSource: dsPlatform.data, value: dsPlatform.value, searchEnabled: false, valueChangeAction: Preferences_changePlatform}"></div>
					</div>
	                <!-- <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.MapProvider"></div>
	                    <div id="lookupMapProvider" class="dx-field-value"data-bind="dxLookup: {placeholder:name, dataSource: dsMapProvider.data, value: dsMapProvider.value, searchEnabled: false, valueChangeAction: Preferences_changeMapProvider}"></div>
					</div> -->
<!-- 	                <div class="dx-field">
		                <div class="dx-field-label" data-bind="text: _.Preferences.Language"></div>
	                    <div id="lookupLanguageUI" class="dx-field-value"data-bind="dxLookup: {placeholder:name, dataSource: dsLanguage.data, value: dsLanguage.value, searchEnabled: false, valueChangeAction: Preferences_changeLanguageUI}"></div>
					</div>
 -->
 	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.TableMode "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: modeProdView,
	                        valueChangeAction: Preferences_TableMode}"></div>	                    
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UseWebDb "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: useWebDb,
	                        valueChangeAction: Preferences_useWebDb}"></div>	                    
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.DebugMode "></div>
	                    <div class="dx-field-value" data-bind="dxSwitch: { value: debugMode,
	                        valueChangeAction: Preferences_debugMode}"></div>	                    
	                </div>

				</div>
            <!-- /ko -->
            <!-- ko if: selectedTab() == 1 -->
				<div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserName "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { value: userName, valueUpdateAction: Preferences_userName }"></div>
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserPassword "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { mode: 'password', value: userPass, valueUpdateAction: Preferences_userPass }"></div>
	                </div>
	                <div class="dx-field">
	                    <div class="dx-field-label" data-bind="text: _.Preferences.UserEMail "></div>
	                    <div class="dx-field-value" data-bind="dxTextBox: { value: userEMail, valueUpdateAction: Preferences_userEMail }"></div>
	                </div>
				</div>
			<!-- /ko -->
            <!-- ko if: selectedTab() == 2 -->
	            <div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label">Admin Password</div>
	                    <div class="dx-field-value">
	                        <div data-bind="dxTextBox: { mode: 'password', placeholder: 'Password', value: adminPassword }"></div>
	                    </div>
	                </div>
                    <div class="dx-field">
		                <div class="dx-field-label">Web Service Url</div>
	                    <div class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: dsWsUrl,
							value: dataSouceUrl,
							valueChangeAction: Preferences_WsUrl
						}"></div> 
		            </div>
	            </div>
				<div class="but50 fl-right" data-bind="dxButton:{text:'Delete Local DataBase', clickAction: Preferences_clickRecreateLocal}"></div>
            <!-- /ko -->
		</div>
    
		<div data-bind="dxPopup:{visible:popupVisible}">
		    <div data-options="dxTemplate:{name: 'title'}">
		        <p><b data-bind="text: popupTitle"></b></p>
		    </div>
		    <div data-options="dxTemplate:{name: 'content'}">
	            <div class="dx-fieldset">
	                <div class="dx-field">
	                    <div class="dx-field-label">Password</div>
	                    <div class="dx-field-value">
	                        <div data-bind="dxTextBox: { mode: 'password', placeholder: 'Password', value: adminPassword }"></div>
	                    </div>
	                </div>
	            </div>
	            <div>
					<div class="but20" data-bind="dxButton:{text:'Login', clickAction: Preferences_clickLogin}"></div>
					<div class="but20 fl-right" data-bind="dxButton:{text:'Cancel', clickAction: Preferences_clickCancel}"></div>
				</div>
		    </div>
		</div>

	</div>
</div>



<div data-options="dxView : { name: 'Info' } " >
    <div class="home-view center"  data-options="dxContent : { targetPlaceholder: 'content' } " >
    	<div data-bind="visible: subTitle().length == 0">
	    	<!-- <div><b class="basket-header">BAsket</b></div> -->

			<div id='idInfoTileView' class="tileView" data-bind="dxTileView: {
		          dataSource: dsInfo, 
		          itemMargin: 5, baseItemHeight: 25, baseItemWidth: 25, height: '400', 
		          itemClickAction: P.itemClick
		        }">
		        <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="style: {background: backcolor}" >
		            <span class="center" data-bind="attr: { 'class': P.itemIcon(icon) }"></span>
		            <p class="tiletext">
		                <span data-bind="text: title"></span>
		                <span class="fl-right" data-bind="text: P.itemCount[id]"></span>
		            </p>
		        </div>
			</div>

			<div class="copyright">
		      <p><span data-bind="text: P.copyright"></span></p>
			</div>
		</div>
		<div class="h100" data-bind="visible: subTitle">
			<!-- <div data-bind="dxToolbar: { items: [{  align: 'center', text: subTitle}]}"></div> -->
			<div data-bind="dxScrollView: {showScrollbar: true}">
            	<div class="infotext" id="textContainer"></div>
            </div>
		</div>
    </div>
</div>

<div data-options="dxView : { name: 'ReadNews', title: _.ReadNews.Title } " >
	<div data-bind="dxCommand: { id: 'cmdInfo', icon: 'info', action: '#Info/ReadNews' } "></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

    <div class="center" data-bind="text: _.Common.NoDataText, visible: !P.useWebDb"/>

	<div data-bind="dxScrollView: { }, visible: P.useWebDb">
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.SaveOrd "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeSaveOrd, valueUpdateAction: ReadNews_SUA('modeSaveOrd') }"></div>
            </div>
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.LoadOst "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeLoadOst, valueUpdateAction: ReadNews_SUA('modeLoadOst') }"></div>
            </div>
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.LoadSpr "></div>
                <div class="dx-field-value" data-bind="dxSwitch: { value: modeLoadSpr, valueUpdateAction: ReadNews_SUA('modeLoadSpr') }"></div>
            </div>
        </div>
        <div class="center">
			<div class="but50" data-bind="dxButton: { text: _.ReadNews.LoadData, clickAction: ReadNews_ReadNews }"></div>
		</div>
        <p id="consoleOut"></p>
<!-- 
		<br/><hr/><br/>
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label" data-bind="text: _.ReadNews.RepoName "></div>
	            <div id="lookupRepo" class="dx-field-value" data-bind="dxLookup: { 
                    title: _.ReadNews.SelectRepo, 
                    dataSource: arrayRepo, 
                    displayExpr: 'Name', 
                    valueExpr: 'Id', 
                    searchEnabled: false, 
                    placeholder: _.Common.Select,
                    }"/>
            </div>
        </div> 
        <div class="center">
			<div class="but50" data-bind="dxButton: { text: _.ReadNews.SendRepo, clickAction: ReadNews_SendRepo }"></div>
		</div>-->

		<div data-bind="dxLoadPanel:{message: _.Common.Loading, visible: P.loadPanelVisible }"/>

    </div></div>
</div>