<div data-options="dxView : { name: 'product-details', title: 'Product', layout: 'default' } " >
    <div class="product-details" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
          {  align: 'center', text: 'Product details'},
        ]}">
          
        </div>
<!--         <div>
            <img data-bind="attr: { src: navbar.currentImage }" class="content-image"/>
        </div>
 -->

  <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Quantity</div>
                    <div class="dx-field-value">
                      <div style="width: 20%" data-bind="dxNumberBox: { 
                          min: 0,
                          max: 100,
                          value: quant,
                          placeholder: 'Enter value from 0 to 100'                          
                        }">
                      </div>
              <div class="dx-button but20 fl-right" data-bind="dxButton:{text:'Save', clickAction: BAsket.buttonClicked}">
              </div>
                    </div>
                </div>
                  <!-- <div class="dx-field">
                        <div class="dx-field-label">Id: </div>
                        <div class="dx-field-value" data-bind="text: id"></div>
                  </div> -->
                  <div class="dx-field">
                        <div class="dx-field-label">Name: </div>
                        <div class="dx-field-value" data-bind="text: name"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Price: </div>
                        <div class="dx-field-value" data-bind="text: price"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Name Art: </div>
                        <div class="dx-field-value" data-bind="text: nameArt"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Name Manuf: </div>
                        <div class="dx-field-value" data-bind="text: nameManuf"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Upak: </div>
                        <div class="dx-field-value" data-bind="text: upak"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Ostat: </div>
                        <div class="dx-field-value" data-bind="text: ostat"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">UrlPict: </div>
                        <div class="dx-field-value" data-bind="text: urlPict"></div>
                  </div>
            </div>
            <center>
<!--               <div style="width: 50%" class="dx-button" data-bind="dxButton:{text:'Save', clickAction: BAsket.buttonClicked}">
              </div>
 -->              <div>
                <img class = "image" data-bind="attr: { src: urlPict }" />
              </div>
            </center>
            

<!--          <div class="navbar-wrapper">
            <div data-bind="dxNavBar: { items: navbar.items , itemClickAction: navbar.itemClickAction, selectedIndex: navbar.selectedIndex }"></div>
        </div> -->
    </div>
</div>
<!-- 
<div data-options="dxView : { name: 'product-details', title: 'Product', layout: 'default' , platform: 'iPad'} " >
      <div data-options="dxContent : { targetPlaceholder: 'content' } " >
            <div class="dx-fieldset">
                  <div class="dx-field">
                        <div class="dx-field-label">Id: </div>
                        <div class="dx-field-value" data-bind="text: id"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Name: </div>
                        <div class="dx-field-value" data-bind="text: name"></div>
                  </div>
                  <div class="dx-field">
                        <div class="dx-field-label">Price: </div>
                        <div class="dx-field-value" data-bind="text: price"></div>
                  </div>
            </div>
      </div>
</div> -->