<div data-options="dxView : { name: 'products', layout: 'empty'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { type: 'back', text:  _.Common.Back, clickAction: Products_clickBack }},
          { location: 'center', text: lbltitle},
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: '#Info/Products' }},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />

<!--         <div data-bind="dxToolbar: { items: [
          { location: 'left', widget: 'button', options: { icon:'find' }},
          { location: 'left', widget: 'button', },
          { location: 'right', widget: 'button', options: { icon: 'info', clickAction: function () { P.Command_Info('Products') }}},
          { location: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />
 -->    
        <div class="dx-fieldset" data-bind="visible: bChoice()">
            <div class="dx-field">
                <!-- <span data-bind="attr: { 'class': 'iconsmall dx-icon-find' }"/> -->
                <div class="dx-field-label margintop" data-bind="dxTextBox: { mode: 'search',  value: searchString, visible: true, 
		        	valueUpdateEvent: 'search change keyup' }"></div>
                <div id="CategoryLookup" class="dx-field-value dx-button" data-bind="dxLookup: { 
                    title: _.Products.TitleCat, 
                    dataSource: dataSourceCat, 
                    displayExpr: 'N', 
                    valueExpr: 'Id', 
                    value: P.curCategoryId, 
                    placeholder: P.curCategoryName,
                    searchEnabled: false, 
                    valueChangeAction: Products_categoryChanged,
                    width:'50%'}"></div>
            </div>
        </div>

<!--         <div class="dx-table" data-bind="visible: P.modeProdView || !bChoice()">
            <div class="cell70 dx-button tbhead" data-bind="text: _.Products.ColName"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPack"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColCount"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPrice"></div>
        </div> -->

         <div id="listProducts" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceProd, 
                noDataText: _.Common.NoDataText,
                pullRefreshEnabled: true
            }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>
<!--
          <div id="listProducts" data-bind="dxList: { dataSource: dataSourceProd, noDataText: _.Common.NoDataText }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div class="dx-table">
                    <div class="cell70" data-bind="text: $data.Name"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.Upak, 'n0')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong></div>
                </div>
            </div>
        </div>
 -->

        <div class="tileView" data-bind="dxTileView: {
                dataSource: dataSourceProd, 
                itemMargin: 3, baseItemHeight: 120, baseItemWidth: 160, 
                listHeight: '80%', 
                showScrollbar: true,
                activeStateEnabled: true,
                noDataText: _.Common.NoDataText
            }, visible: bChoice() && !P.modeProdView">
            <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="dxAction: '#product-details/{Id}'">
                <img class="tile-image" data-bind="attr: { src: N4 }"/>
                <span class="tile-text" data-bind="text: N"></span>
                <span class="tile-text-top" data-bind="text: Quant"></span>
            </div>
        </div>

        <div class="dx-fieldset" data-bind="visible: !bChoice()">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: calcSum"/>
            </div>
        </div>
        
        <div id="listBAsket" class="offset-list2" data-bind="dxList: { 
                dataSource: dataSourceBasket, 
                noDataText: _.Common.NoDataText,
                pullRefreshEnabled: true
            }, visible: !bChoice()">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                <div class='marginleft' data-bind="text: $data.N"/>
                <div class='textSmall marginleft'><strong data-bind="text: Globalize.format($data.P, 'n2')"/>
                    (<span data-bind="text: Globalize.format($data.O, 'n0')"/>; 
                        <span data-bind="text: Globalize.format($data.N1, 'n0')"/>)
                </div>
            </div>
        </div>

    </div>
</div>