<div data-options="dxView : { name: 'products', layout: 'empty'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          {  align: 'left', widget: 'button', options: { type: 'back', text:  _.Common.Back, clickAction: Products_clickBack }},
          {  align: 'center', text: lbltitle},
          {  align: 'right', widget: 'button', options: { icon: 'cart', text: btnSwText, clickAction: Products_swichClicked}},
        ]}" />
    
        <div class="dx-fieldset" data-bind="visible: bChoice()">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="dxTextBox: { mode: 'search', value: searchString, 
                    visible: true, 
		        	valueUpdateEvent: 'search change keyup' }"/>
                <div id="CategoryLookup" class="dx-field-value" data-bind="dxLookup: { 
                    title: _.Products.TitleCat, 
                    dataSource: dataSourceCat, 
                    displayExpr: 'Name', 
                    valueExpr: 'Id', 
                    value: P.curCategoryId, 
                    placeholder: P.curCategoryName,
                    searchEnabled: false, 
                    valueChangeAction: Products_categoryChanged,
                    width:'50%'}"/>
            </div>
        </div>

<!--         <div class="dx-table" data-bind="visible: P.modeProdView || !bChoice()">
            <div class="cell70 dx-button tbhead" data-bind="text: _.Products.ColName"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPack"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColCount"></div>
            <div class="cell10 dx-button tbhead" data-bind="text: _.Products.ColPrice"></div>
        </div> -->

         <div id="listProducts" data-bind="dxList: { dataSource: dataSourceProd, noDataText: _.Common.NoDataText }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div class="dx-table">
                    <div class='cell10'><strong data-bind="text: Globalize.format($data.Quant, 'n0')"/></div>
                    <div data-bind="text: $data.Name"></div>
                    <div ><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong>
                        (уп=<span data-bind="text: Globalize.format($data.Upak, 'n0')"/> 
                        ; ост=<span data-bind="text: Globalize.format($data.Ostat, 'n0')"/> )
                    </div>
                </div>
            </div>
        </div>
<!--
          <div id="listProducts" data-bind="dxList: { dataSource: dataSourceProd, noDataText: _.Common.NoDataText }, visible: bChoice() && P.modeProdView">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div class="dx-table">
                    <div class="cell70" data-bind="text: $data.Name"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.Upak, 'n0')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong></div>
                </div>
            </div>
        </div>
 -->
<!-- 
        <div class="tileView" data-bind="dxTileView: {
                dataSource: dataSourceProd2, 
                itemMargin: 3, baseItemHeight: 120, baseItemWidth: 160, 
                listHeight: '90%', height: '80%', 
                showScrollbar: true,
                noDataText: _.Common.NoDataText
            }, visible: bChoice() && !P.modeProdView">
            <div class="tile" data-options="dxTemplate:{name:'item'}" data-bind="dxAction: '#product-details/{Id}'">
                <img class="tile-image" data-bind="attr: { src: UrlPict }"/>
                <span class="tile-text" data-bind="text: Name"></span>
            </div>
        </div>
 -->
        <div class="dx-fieldset" data-bind="visible: !bChoice()">
            <div class="dx-field">
                <div class="dx-field-label" data-bind="text: 'выбрано: ' + P.arrayBAsket.length"/>
                <div class="dx-field-value" data-bind="text: 'на сумму: ' + Products_calcSum()"/> 
            </div>
        </div>    
        
        <div id="listBAsket" data-bind="dxList: { dataSource: dataSourceBasket, noDataText: _.Common.NoDataText }, visible: !bChoice()">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div class="dx-table">
                    <div class='cell10'><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div data-bind="text: $data.Name"></div>
                    <div ><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong>
                        (уп=<span data-bind="text: Globalize.format($data.Upak, 'n0')"/> 
                        ; ост=<span data-bind="text: Globalize.format($data.Ostat, 'n0')"/> )
                    </div>
                </div>
            </div>
        </div>
<!-- 
         <div id="listBAsket" data-bind="dxList: { dataSource: dataSourceBasket, noDataText: _.Common.NoDataText }, visible: !bChoice()">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#product-details/{Id}'">
                <div class="dx-table">
                    <div class="cell70" data-bind="text: $data.Name"></div>
                    <div class="cell10 alignright" data-bind="text: Globalize.format($data.Upak, 'n0')"></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Quant, 'n0')"></strong></div>
                    <div class="cell10 alignright"><strong data-bind="text: Globalize.format($data.Price, 'n2')"></strong></div>
                </div>
            </div>
        </div>
 -->
    </div>
</div>