<div data-options="dxView : { name: 'product-details', title: 'Product', layout: 'default' } " >
    <div class="product-details" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          {  align: 'left', widget: 'button', options: { type: 'back', text: _.Common.Back, clickAction: '#_back'}},
          {  align: 'center', text: _.Products.TitleDetails },
        ]}">
    </div>

    <div class="dx-fieldset">
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldName" />
          <div class="dx-field-value" data-bind="text: name" />
      </div>
      <div class="dx-field">
          <div class="dx-field-label" data-bind="text: _.Products.FldPrice" />
          <div class="dx-field-value" data-bind="text: price" />
      </div>
      <div class="dx-field">
        <div class="dx-field-label" data-bind="text: _.Products.FldQuantity"/>
        <div class="dx-field-value">
          <div style="width: 20%" data-bind="dxNumberBox: {
              min: 0,
              value: quant,
              placeholder: _.Products.ErrQuantity                     
            }" />
          <div class="dx-button but20 fl-right" data-bind="dxButton:{text:_.Common.Save, clickAction: BAsket.buttonClicked}" />
        </div>
      </div>
    </div>
    <div class="dx-fieldset" data-bind="visible: nameArt">
      <div class="dx-field">
            <div class="dx-field-label" data-bind="text: _.Products.FldUpak" />
            <div class="dx-field-value" data-bind="text: upak" />
      </div>
      <div class="dx-field">
            <div class="dx-field-label" data-bind="text: _.Products.FldOstat" />
            <div class="dx-field-value" data-bind="text: ostat" />
      </div>
      <div class="dx-field">
            <div class="dx-field-label" data-bind="text: _.Products.FldNameArt" />
            <div class="dx-field-value" data-bind="text: nameArt" />
      </div>
      <div class="dx-field" data-bind="visible: nameManuf">
            <div class="dx-field-label" data-bind="text: _.Products.FldNameManuf" />
            <div class="dx-field-value" data-bind="text: nameManuf" />
      </div>
      <div class="dx-field" data-bind="visible: urlPict">
            <div class="dx-field-label" data-bind="text: _.Products.FldUrlPict" />
            <div class="dx-field-value" data-bind="text: urlPict" />
      </div>

      <div class="dx-field">
            <div class="dx-field-label">Id: </div>
            <div class="dx-field-value" data-bind="text: id"></div>
      </div>

    </div>

    <center>
      <div>
        <img class = "image" data-bind="attr: { src: urlPict }" />
      </div>
    </center>
  
</div>
