<div data-options="dxView : { name: 'RoadMapList', title: _.Navigation.RoadMap } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="but20 fl-right" data-bind="dxButton:{text:'Показать на карте', clickAction: clickShowRoadMap}"></div>

		<div data-bind="dxList: { dataSource: dataSource, noDataText: _.Common.NoDataText }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#Order/{id}'">
                <div class="dx-table">
                    <div class="cell10" data-bind="text: $data.DateDoc"></div>
                    <div class="cell50" data-bind="text: $data.Name"></div>
                    <div class="cell10" data-bind="text: $data.sNote"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-options="dxView : { name: 'RoadMap', layout: 'empty' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxToolbar: { items: [
          {  align: 'left', widget: 'button', options: { type: 'back', text: _.Common.Back, clickAction: '#_back'}},
          {  align: 'center', text: _.RoadMap.Title},
        ]}"></div>

        <!--  <div class="map"> -->
            <div data-bind="dxMap: options"></div>
        <!-- </div> -->
    </div>
</div>
