<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
	  <add name="BAsket" connectionString="Data Source=BandyPC\s8;Initial Catalog=DBPetra;User Id=basket;Password=basket;" providerName="System.Data.SqlClient"/>
	  <add name="BAsket1" connectionString="Data Source=BandyPC\s8;Initial Catalog=DBPetraOld;User Id=basket;Password=basket;" providerName="System.Data.SqlClient"/>
    <add name="BAsketPP" connectionString="Data Source=Sqlserver;Initial Catalog=DBPetra;User Id=basket;Password=basket;" providerName="System.Data.SqlClient"/>

	  <add name="SMTPserver_" connectionString="192.168.200.1;BAsket18.O3@gmail.com" />
	  <add name="SMTPserver" connectionString="10.0.0.30;Robot.izhpp@mail.ru" />
  </connectionStrings>
  <appSettings>
    <add key="debug" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>