<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
      <add name="BAsket" connectionString="Data Source=(local)\s8;Initial Catalog=DBPetra;User Id=basket;Password=basket;" providerName="System.Data.SqlClient"/>
      <add name="BAsketPP" connectionString="Data Source=Sqlserver;Initial Catalog=DBPetra;User Id=basket;Password=basket;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpRuntime/>
    <authentication mode="None"/>
  </system.web>
</configuration>